USE master
GO
CREATE DATABASE [AILATRIEUPHU2]
GO
USE [AILATRIEUPHU]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,5) NOT NULL,
	[Fullname] [nvarchar](300) NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Type] [int] NOT NULL,
	[Createdate] [datetime] NULL,
	[Lastlogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[Type] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Answer]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [int] IDENTITY(1,5) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Content] [nvarchar](500) NULL,
	[AnswerLevel] [int] NOT NULL,
	[IsResult] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[History]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[HistoryID] [int] IDENTITY(1,5) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Level] [int] NULL,
	[Total] [money] NULL,
	[Createdate] [datetime] NULL,
	[Finishdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HistoryDetail]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryDetail](
	[DetailID] [int] IDENTITY(1,5) NOT NULL,
	[HistoryID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[AnswerID] [int] NOT NULL,
	[Createdate] [datetime] NULL,
	[Finishdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Point]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Point](
	[PointID] [int] IDENTITY(1,5) NOT NULL,
	[Level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PrizeMoney]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrizeMoney](
	[Level] [int] NOT NULL,
	[Money] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Question]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,5) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Fullname], [Username], [Password], [Type], [Createdate], [Lastlogin]) VALUES (16, N'admin', N'admin', N'c4ca4238a0b923820dcc509a6f75849b', 2, NULL, CAST(N'2018-11-19 11:14:31.530' AS DateTime))
INSERT [dbo].[Account] ([AccountID], [Fullname], [Username], [Password], [Type], [Createdate], [Lastlogin]) VALUES (21, N'HoangCP', N'HoangCP', N'c4ca4238a0b923820dcc509a6f75849b', 1, NULL, CAST(N'2018-11-19 13:41:22.910' AS DateTime))
INSERT [dbo].[Account] ([AccountID], [Fullname], [Username], [Password], [Type], [Createdate], [Lastlogin]) VALUES (26, N'Chế Phi Hoàng', N'cphoang', N'c4ca4238a0b923820dcc509a6f75849b', 2, NULL, CAST(N'2018-11-19 21:47:39.517' AS DateTime))
SET IDENTITY_INSERT [dbo].[Account] OFF
INSERT [dbo].[AccountType] ([Type], [Description], [IsAdmin]) VALUES (1, N'Admin', 1)
INSERT [dbo].[AccountType] ([Type], [Description], [IsAdmin]) VALUES (2, N'Quản lý', 0)
INSERT [dbo].[AccountType] ([Type], [Description], [IsAdmin]) VALUES (3, N'Người dùng', 0)
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([AnswerID], [QuestionID], [Content], [AnswerLevel], [IsResult]) VALUES (1, 16, N'Thóc', 1, NULL)
INSERT [dbo].[Answer] ([AnswerID], [QuestionID], [Content], [AnswerLevel], [IsResult]) VALUES (6, 16, N'Lúa', 2, NULL)
INSERT [dbo].[Answer] ([AnswerID], [QuestionID], [Content], [AnswerLevel], [IsResult]) VALUES (11, 16, N'Gạo', 3, 1)
SET IDENTITY_INSERT [dbo].[Answer] OFF
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([HistoryID], [AccountID], [Level], [Total], [Createdate], [Finishdate]) VALUES (1, 21, 0, 0.0000, CAST(N'2018-11-19 13:39:43.273' AS DateTime), NULL)
INSERT [dbo].[History] ([HistoryID], [AccountID], [Level], [Total], [Createdate], [Finishdate]) VALUES (6, 21, 4, 0.0000, CAST(N'2018-11-19 13:41:24.103' AS DateTime), CAST(N'2018-11-19 13:42:13.437' AS DateTime))
INSERT [dbo].[History] ([HistoryID], [AccountID], [Level], [Total], [Createdate], [Finishdate]) VALUES (11, 21, 6, 2000000.0000, CAST(N'2018-11-19 13:42:48.900' AS DateTime), CAST(N'2018-11-19 13:43:59.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[History] OFF
SET IDENTITY_INSERT [dbo].[HistoryDetail] ON 

INSERT [dbo].[HistoryDetail] ([DetailID], [HistoryID], [QuestionID], [AnswerID], [Createdate], [Finishdate]) VALUES (6, 6, 31, 71, CAST(N'2018-11-19 13:41:24.953' AS DateTime), CAST(N'2018-11-19 13:41:45.630' AS DateTime))
INSERT [dbo].[HistoryDetail] ([DetailID], [HistoryID], [QuestionID], [AnswerID], [Createdate], [Finishdate]) VALUES (11, 6, 16, 11, CAST(N'2018-11-19 13:41:47.713' AS DateTime), CAST(N'2018-11-19 13:41:51.410' AS DateTime))
INSERT [dbo].[HistoryDetail] ([DetailID], [HistoryID], [QuestionID], [AnswerID], [Createdate], [Finishdate]) VALUES (16, 6, 21, 26, CAST(N'2018-11-19 13:41:53.477' AS DateTime), CAST(N'2018-11-19 13:41:57.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistoryDetail] OFF
SET IDENTITY_INSERT [dbo].[Point] ON 

INSERT [dbo].[Point] ([PointID], [Level]) VALUES (1, 5)
INSERT [dbo].[Point] ([PointID], [Level]) VALUES (6, 10)
INSERT [dbo].[Point] ([PointID], [Level]) VALUES (11, 15)
SET IDENTITY_INSERT [dbo].[Point] OFF
INSERT [dbo].[PrizeMoney] ([Level], [Money]) VALUES (1, 200000.0000)
INSERT [dbo].[PrizeMoney] ([Level], [Money]) VALUES (2, 400000.0000)
INSERT [dbo].[PrizeMoney] ([Level], [Money]) VALUES (3, 600000.0000)
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionID], [Content], [Level]) VALUES (16, N'Mạnh vì..., bạo vì tiền', 2)
INSERT [dbo].[Question] ([QuestionID], [Content], [Level]) VALUES (21, N'Thức ăn nào sau đây thuộc nhóm thức ăn chứa nhiều bột đường', 3)
INSERT [dbo].[Question] ([QuestionID], [Content], [Level]) VALUES (26, N'Hội hát quan họ nào được tổ chức từ 11 - 13 tháng Giêng Âm lịch hàng năm?', 4)
SET IDENTITY_INSERT [dbo].[Question] OFF
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountType] FOREIGN KEY([Type])
REFERENCES [dbo].[AccountType] ([Type])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccountType]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Account]
GO
ALTER TABLE [dbo].[HistoryDetail]  WITH CHECK ADD  CONSTRAINT [FK_HistoryDetail_History] FOREIGN KEY([HistoryID])
REFERENCES [dbo].[History] ([HistoryID])
GO
ALTER TABLE [dbo].[HistoryDetail] CHECK CONSTRAINT [FK_HistoryDetail_History]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_PrizeMoney] FOREIGN KEY([Level])
REFERENCES [dbo].[PrizeMoney] ([Level])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_PrizeMoney]
GO
/****** Object:  StoredProcedure [dbo].[CheckAnswer]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[CheckAnswer]
	@QuestionID INT,
	@AnswerLevel INT,
	@Result INT OUT	
AS BEGIN
	IF EXISTS (SELECT AnswerID FROM Answer WHERE QuestionID=@QuestionID AND AnswerLevel = @AnswerLevel AND IsResult=1)
	BEGIN
		SET @Result = 1
	END
	ELSE	 
	BEGIN
		SET @Result = 0 		
	END
END


GO
/****** Object:  StoredProcedure [dbo].[CreateQuestion]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CreateQuestion]
	@Content nvarchar(1000), 
	@Level int, 
	@AnswerA nvarchar(1000), 
	@AnswerB nvarchar(1000), 
	@AnswerC nvarchar(1000), 
	@AnswerD nvarchar(1000), 
	@IsResult int,
	@Result int OUTPUT
AS BEGIN
	SET @Result = 0
	BEGIN TRANSACTION
		INSERT INTO Question(Content, Level)
		VALUES(@Content, @Level)
		DECLARE @QuestionID int = @@IDENTITY
	
		INSERT INTO Answer(QuestionID, Content, AnswerLevel)
		SELECT @QuestionID, @AnswerA, 1
		UNION ALL
		SELECT @QuestionID, @AnswerB, 2
		UNION ALL
		SELECT @QuestionID, @AnswerC, 3
		UNION ALL
		SELECT @QuestionID, @AnswerD, 4

		UPDATE Answer
		SET IsResult = 1
		WHERE QuestionID=@QuestionID AND AnswerLevel=@IsResult

		SET @Result = 1
	COMMIT TRANSACTION
END


GO
/****** Object:  StoredProcedure [dbo].[GetListHistory]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetListHistory]
	@AccountID INT
AS BEGIN
	SELECT TOP(10)*FROM(
	SELECT ROW_NUMBER() OVER(ORDER BY Createdate ASC) STT
		, HistoryID, AccountID, Createdate, Finishdate, Level, Total 
	FROM History 
	where AccountID=@AccountID) AS Main
	ORDER BY STT DESC	
END

GO
/****** Object:  StoredProcedure [dbo].[GetQuestionLevel]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GetQuestionLevel]
	@Level INT
AS BEGIN		
	SELECT TOP(1) QuestionID, Content, Level, 
	MAX(CASE AnswerLevel WHEN 1 THEN AnswerContent END) AnswerA,
	MAX(CASE AnswerLevel WHEN 2 THEN AnswerContent END) AnswerB,
	MAX(CASE AnswerLevel WHEN 3 THEN AnswerContent END) AnswerC,
	MAX(CASE AnswerLevel WHEN 4 THEN AnswerContent END) AnswerD,
	MAX(CASE IsResult WHEN 1 THEN AnswerLevel END) Result
	FROM (
	SELECT A.QuestionID, A.Content, A.Level, B.AnswerID, B.Content AnswerContent, B.AnswerLevel, CASE B.IsResult WHEN 1 THEN '1' ELSE '0' END IsResult
	FROM Question AS A
	INNER JOIN (SELECT*FROM Answer)AS B ON B.QuestionID = A.QuestionID	
	WHERE A.Level = @Level
	) AS Main
	GROUP BY QuestionID, Content, Level
	ORDER BY NEWID()
END


GO
/****** Object:  StoredProcedure [dbo].[Logging]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Logging]
	@Username varchar(100),
	@Password varchar(500)
AS BEGIN 
	SELECT*FROM Account WHERE Username=@Username and Password=@Password
	IF @@ROWCOUNT >0
		UPDATE Account SET Lastlogin=GETDATE() WHERE Username=@Username
END

GO
/****** Object:  StoredProcedure [dbo].[Register]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Register]
	@Fullname nvarchar(50),
	@Username varchar(100),
	@Password varchar(500),
	@Result INT OUTPUT
AS BEGIN
	IF NOT EXISTS (SELECT AccountID FROM Account WHERE Username=@Username)
	BEGIN
		INSERT INTO Account (Fullname, Username, Password, Type)
		VALUES (@Fullname, @Username, @Password, 2)
		SET @Result = 1
	END
	ELSE
	BEGIN
		SET @Result = 2
	END
END

GO
/****** Object:  StoredProcedure [dbo].[Support5050]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Support5050]
	@QuestionID INT
AS BEGIN
	SELECT AnswerLevel
	FROM Answer 
	WHERE QuestionID=@QuestionID AND ISNULL(IsResult,0)= 1
END



GO
/****** Object:  StoredProcedure [dbo].[UpdateHistory]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateHistory]
	@HistoryID INT = 0,
	@AccountID INT,
	@Level INT,
	@Total money,	
	@Type INT,
	@HistoryIDOUT INT OUTPUT
AS BEGIN
	IF NOT EXISTS (SELECT HistoryID FROM History WHERE HistoryID=@HistoryID)
	BEGIN
		INSERT INTO History(AccountID, Level, Total, Createdate)
		VALUES (@AccountID, @Level, @Total, GETDATE())

		SET @HistoryIDOUT = @@IDENTITY
	END
	ELSE
	BEGIN		
		IF @Type = 1 --Nhấn nút stop
			SET @Level = @Level -1
		ELSE IF @Type = 2 --Trả lời sai
		BEGIN		
			IF @Level <= 5		
			BEGIN
				SET @Level = @Level -1
				SET @Total = 0		
			END
			ELSE
			BEGIN
				DECLARE @LevelTemp INT
				SELECT TOP(1) @LevelTemp=Level FROM Point WHERE Level < @Level ORDER BY Level DESC
				Select @Total = Money from PrizeMoney where Level=@LevelTemp
			END
		END
		ELSE IF @Type = 3 --Trả đến câu cuối cùng
			SET @Level = @Level

		IF @Type <> 2
			Select @Total = Money from PrizeMoney where Level=@Level

		UPDATE History
		SET Level = @Level, Total = @Total, Finishdate = GETDATE()
		WHERE HistoryID=@HistoryID

		SET @HistoryIDOUT =0
	END
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateHistoryDetail]    Script Date: 11/19/2018 09:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[UpdateHistoryDetail]
	@DetailID INT = 0,
	@HistoryID INT,
	@QuestionID INT,
	@AnswerLevel INT,
	@DetailIDOUT INT OUTPUT	
AS BEGIN
	IF NOT EXISTS (SELECT DetailID FROM HistoryDetail WHERE DetailID=@DetailID) OR @DetailID <=0
	BEGIN
		INSERT INTO HistoryDetail(HistoryID, QuestionID, AnswerID, Createdate)
		VALUES (@HistoryID, @QuestionID, 0, GETDATE())

		SET @DetailIDOUT = @@IDENTITY
	END
	ELSE
	BEGIN
		DECLARE @AnswerID INT
		SELECT @AnswerID = AnswerID FROM Answer WHERE QuestionID=@QuestionID AND AnswerLevel=@AnswerLevel

		UPDATE HistoryDetail
		SET AnswerID=@AnswerID,
			Finishdate = GETDATE()
		WHERE DetailID=@DetailID

		SET @DetailIDOUT =0
	END
END


GO
