@using System.Web;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang câu hỏi</title>
    <script src="~/Scripts/JQuestion.js"></script>
</head>
<body>
    @*<div>
            <input type="button" id="btnSearch" value="Tìm kiếm" onclick="" />
            <input type="button" id="btnRemove" value="Xóa" onclick="" />
        </div>*@
    <div>
        <table cellpadding="0" cellspacing="0" width="50%" style="margin:auto" class="h-tableq">
            <tr>
                <td colspan="2" style="text-align:center"><span class="h-label"><h1>THÊM CÂU HỎI</h1></span></td>
            </tr>
            <tr>
                <td><span class="h-label">Cấp độ câu hỏi</span></td>
                <td>
                    <select id="cbxLevel" class="h-textbox" style="width: 100%;">
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="25%"><span class="h-label">Nội dung câu hỏi</span></td>
                <td><textarea id="txtContent" class="h-textbox" style="height:30px; "></textarea></td>
            </tr>
            <tr>
                <td><span class="h-label">Đáp án A</span></td>
                <td><input type="text" class="h-textbox" id="txtAnswerA" /></td>
            </tr>
            <tr>
                <td><span class="h-label">Đáp án B</span></td>
                <td><input type="text" class="h-textbox" id="txtAnswerB" /></td>
            </tr>
            <tr>
                <td><span class="h-label">Đáp án C</span></td>
                <td><input type="text" class="h-textbox" id="txtAnswerC" /></td>
            </tr>
            <tr>
                <td><span class="h-label">Đáp án D</span></td>
                <td><input type="text" class="h-textbox" id="txtAnswerD" /></td>
            </tr>
            <tr>
                <td><span class="h-label">Đáp án đúng</span></td>
                <td>
                    <select id="cbxResult" class="h-textbox" style="width: 100%;">
                        <option value="1" selected="selected">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td>&nbsp;</td>
                <td>
                    <input type="button" class="h-button" id="btnCreate" style="width: 25%;" value="Thêm" onclick="CreateQuestion()" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
